html,
body {
    box-sizing: border-box;
    margin: 0;
}

.logo {
    width: 300px;
}

#background {
    width: 100vw;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 32px;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 32px;
}

@media (min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .grid-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 32px;
    }
}

.flex-shrink {
    flex-shrink: 1;
}

.flex-col {
    flex-direction: column;
}

.inline-flex {
    display: inline-flex;
}

.justify-center {
    justify-content: center;
}

.button {
    background-color: #0a0a23;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px;
    min-height: 30px;
    min-width: 120px;
    text-decoration: none;
}

#title {
    display: inline-block;
    margin-bottom: 8px;
}

h2,
h4,
h5,
h1,
h3,
h6,
.m-0 {
    margin: 0;
}

.mt-0 {
    margin-block-start: 0;
}

.bg-padding {
    padding-inline: 32px;
    padding-block: 8px;

}

.bg-padding-horizontal {
    padding-inline: 32px;
}

.bg-padding-left {
    padding-inline-start: 16px;
}

.bg-light-blue {
    background-color: #408bdc;
    color: white;
}

.bg-extra-light-blue {
    background-color: #a4d0ff;
    color: black;
}

.bg-dark-blue {
    background-color: rgb(78, 78, 243);
    color: white;
}

.inline {
    display: inline;
}

.text-dark-blue {
    color: rgb(78, 78, 243);
}

.text-white {
    color: white;
}

.text-orange {
    color: orange;
}

.bg-dark-orange {
    background-color: orange;
}

.bg-light-orange {
    background-color: rgb(246, 218, 167);
}